@media (max-width: 1024px) {
  .basket {
    .container {
      max-width: 960px;
      margin: 0 auto;
      .basket__content {
        .basket__title {
          h1 {
            width: 420px;
          }

          h3 {
            width: 80px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .basket {
    .container {
      max-width: 720px;
      margin: 0 auto;
      .basket__content {
        .basket__title {
          height: 100%;
          flex-direction: column;
          align-items: start;
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .basket {
    .container {
      max-width: 375px;
      margin: 0 auto;

      .basket__content {
        .basket__images {
          grid-template-columns: repeat(1, 1fr);

          img {
            width: 370px;
            height: 375px;
          }
        }
        .basket__title {
          width: 100%;

          h1 {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .basket {
    .container {
      max-width: 320px;
      margin: 0 auto;

      .basket__content {
        .basket__images {
          img {
            width: 100%;
            height: 320px;
          }
        }
        .basket__title {
          button {
            width: 320px;
          }
        }
      }
    }
  }
}
